/* stylelint-disable */
@import "./base";
@import "./design";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
}

a,
.green {
  text-decoration: none;
  color: hsl(160deg 100% 37% / 100%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

button {
  border: 1px solid $color-support-39;
  background: none;
  color: $color-support-39;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background: $color-support-39;
  color: white;
}

button:disabled {
  background: none;
  color: gray;
  cursor: not-allowed;
  border-color: gray;
}
