// BRAND COLORS
$color-brand-01: #3dc3ea;
$color-brand-02: #9c9c9c;
$color-brand-03: #fff;
$color-brand-04: #21a1f6;

// SECONDARY COLORS
$color-seconday-01: #ff9250;
$color-seconday-02: #02e99d;
$color-seconday-03: #f84932;

// SUPPORT COLORS (Bg, Shadow etc)
$color-support-01: #191920;
$color-support-02: #20222d;
$color-support-03: #000;
$color-support-04: #50525f;
$color-support-05: #22222c;
$color-support-06: #2e303b;
$color-support-07: #262626;
$color-support-08: #8a8a8a;
$color-support-09: #ff4141;
$color-support-10: #b8b8b8;
$color-support-11: #939393;
$color-support-12: #39cd90;
$color-support-13: #0e0e0e;
$color-support-14: #292929;
$color-support-15: #223041;
$color-support-16: #130f26;
$color-support-17: #f05250;
$color-support-18: #3b964f;
$color-support-19: #18241b;
$color-support-20: #c54645;
$color-support-21: #381c1c;
$color-support-22: #e48845;
$color-support-23: #00d95f;
$color-support-24: #d82953;
$color-support-25: #cb4343;
$color-support-26: #323232;
$color-support-27: #aeb3b7;
$color-support-28: #21a1f6;
$color-support-29: #2f2f2f;
$color-support-30: #8046ff;
$color-support-31: #222222;
$color-support-32: #3293ec;
$color-support-33: #39cd8a;
$color-support-34: #3a8938;
$color-support-35: #c54645;
$color-support-36: #df473d;
$color-support-37: #d77d60;
$color-support-38: #8660d7;
$color-support-39: #60d77a;
$color-support-40: #d7bd60;
$color-support-41: #60a7d7;

// TEXT COLORS
$color-text-01: #9c9c9c;
$color-text-02: #fff;
$color-text-03: #dae6f1;
$color-text-04: #3dc3ea;
$color-text-05: #61656e;

// COLORS - Gradients
$color-gradient-01: linear-gradient(
  269.72deg,
  $color-support-06 0.28%,
  $color-support-02 99.74%
);
$color-gradient-02: linear-gradient(
  268.78deg,
  $color-support-02 0.28%,
  $color-support-06 99.74%
);
$color-gradient-03: linear-gradient(
  358.93deg,
  $color-support-06 -85.06%,
  $color-support-02 96.5%
);
